body {
	font-family: 'Lato', sans-serif;
	color: #1f1f2e;
}

hr {
	border: none;
	height: 3px;
	background-color: #bcbbbb;
}

.logo-img {
	margin-top: 20px;
}

.txt-light {
	color: #bcbbbb;
}

.txt-thin {
	font-weight: 100;
}

.txt-main {
	font-size: 50px;
}
